.header,
.container,
.nav,
.nav__menu{
    display: flex;
    align-items: center;
}

.header{
    width: 100%;
    padding: 35px;
    height: 80px;
    margin-right: 0px;
    @media screen and (min-width:768px) {
            height: 100px;
        }
}

.nav{
    width: 100%;
    align-items: baseline; 
}

.web {
    font-size: 20px;
    font-family: "Inconsolata";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
}

.nav__menu{
    margin-left: auto;    
}
.menu__item{
    font-size: 12px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
    &:not(:last-child) {
        margin-right: 10px;
        @media screen and (min-width: 768px) {
            margin-right: 50px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 150px;
        }
    }
}
