.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__txt{
    margin-top: 50px;
    padding: 0 40px;
}
.hero__text {
    margin-top: 30px;
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 70px;
}

.hero__low-title{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: olive;
    &:not(:first-child){
        margin-top: 20px;
    }
}