.Lorem_ipsum_dolor_sit_amet__consectetur_adipisi {
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    position: absolute;
    left: 148.89px;
    top: 897.25px;
    width: 893px;
    height: 183px;
    z-index: 286;
}