body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a{
    text-decoration: none;
    outline: none;  
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {    
    display: block;
    max-width: 100%;  
    height: auto;
}

.social{
  display: flex;
}
.normal{
  font-style: normal;
}

.container{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}